@import '../../variables';
#portfolio{
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    padding: 100px 0; //el largo es dinamico solo abra espacios arriba y abajo para poner orden
    transition: all 0.5s;
    .title{
        @extend %title;
        margin-bottom: 50px;
        text-align: center;
    }
    .grid{
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
        grid-gap: 1em;
        grid-row-gap: 5em;
        padding: 25px 0;
        .project-card {
            justify-self: center;
            max-width: 320px;
            height: 13.125rem;
            box-shadow: 0 5px 20px rgba(0,0,0,0.5);
            background-color: rgb(235, 235, 235);
            border-radius: 15px;
            overflow: hidden;
            transition: all 0.1s;
            position: relative;
            &:hover{
              transform: scale(1.1);
            }
            .card-icon{
              font-size: 2.25rem;
              color: $primaryColor;
              position: absolute;
              top: .625rem;
              right: .625rem;
            }
            .container{
              padding: .9375rem 0;
              mat-card-actions{
                position: absolute;
                bottom: 1.25rem;
                margin: 0;
                .main-button{
                  color:$lightenColor;
                  background-color: $primaryColor;
                }
                .secondary-button{
                  color: $primaryColor;
                }
              }
            }
        }
    }
}

