<header id="header">
    <div class="header-content">
        <div data-aos="fade-up" data-aos-duration="2000" class="info-container">
            <p>Hello</p>
            <p class="title">I'm <span class="colored">Yeison Builes</span></p>
            <p>Frontend Developer and UI/UX designer.</p>
            <div class="social-media">
                <a href=""><i class='bx bxl-linkedin-square'></i></a>
                <a href=""><i class='bx bxl-twitter' ></i></a>
                <a href=""><i class='bx bxl-github' ></i></a>
            </div>
        </div>
        <img data-aos="fade-left" data-aos-duration="2500" src="../assets/header.svg">
    </div>
</header>
