@import "../variables";
header{
    width: 100%;
    height: 100%;
    background-color: $lightenColor;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $darkColor;
    transition: all 0.5s;
    overflow: hidden;
    .header-content{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .info-container{
            p{
                font-size: 18px;
                font-weight: 400;
            }
           .title{
               @extend %title;
               .colored{
                color: $primaryColor;
               }
           }
           .social-media{
               a{
                i{
                    color:$primaryColor;
                    margin-right:1rem;
                    font-size: 28px;
                    transition: all 0.2s;
                    &:hover{
                        transform: scale(1.2);
                    }
                }
                
               }
           }
        }
    }
}
@media screen and (max-width:1016px) {
    header{
        .header-content{
            img{
                display: none;
            }
            display: flex;
            align-items: center;
            justify-content: center;
            .info-container{
                
                .title{
                    font-size: 36px;
                    .colored{
                        //border: 1px solid black;
                        line-height: 1.2em;
                    }
                }
            }
        }
    }
}