<main [style.backgroundColor]= "backgroundColor" id="about">
    <div class="content">
        <div class="description">
            <p [style.color]="textColor" class="title">About me</p>
            <p [style.color]="textColor" class="about-description">I am a software developer technologist  specialized in web frontend and UI/UX design. I have experience with Angular, CSS preprocessors, responsive design, mobile first, ecmascript 6+ and get data from API services. I am an excellent team worker and team leader.</p>
            <button mat-raised-button color="primary">Resume <i class='bx bxs-download'></i></button>
        </div>
        <aside>
            
        </aside>
    </div>
</main>
