@import "../variables";

nav{
    background-color: $lightenColor;
    width: 100vw;
    position: fixed;
    .menu-container{
        width: 80%;
        height: 10vh;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .menu{
            width: 50%;
            display: flex;
            justify-content: space-around;
            li{
                cursor: pointer;
                a{
                    font-weight: 300;
                    font-size: 18px;
                    color: $darkColor;
                }
            }
        }
        mat-slide-toggle{
            font-family: 'Mulish';
        }
        
    }
}