<nav [style.backgroundColor]= "backgroundColor" id="nav">
    <div class="menu-container">
        <ul class="menu">
            <li><a (click)="navigate('header')" [style.color]="textColor">Home</a></li>
            <li><a (click)="navigate('about')" [style.color]="textColor">About me</a></li>
            <li><a (click)="navigate('portfolio')" [style.color]="textColor">Portfolio</a></li>
            <li><a (click)="navigate('contact')" [style.color]="textColor">Contact me</a></li>
        </ul>
        <ul class="responsive-menu">
            <li><a><i (click)="navigate('header')" class='bx bxs-home' ></i></a></li>
            <li><a><i (click)="navigate('about')" class='bx bxs-user' ></i></a></li>
            <li><a><i (click)="navigate('portfolio')" class='bx bxs-backpack' ></i></a></li>
            <li><a><i (click)="navigate('contact')" class='bx bxs-contact' ></i></a></li>
        </ul>
        
    </div>
</nav>
